### Feature Engineering

In [2]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ps.csv')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

### Создание копии таблицы - copy()

In [60]:
melb_df = melb_data.copy()

### Удаление столбцов  - drop()

In [61]:
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

### Математические операции со столбцами -

In [62]:
total_rooms = melb_df['Bathroom'] + melb_df['Bedroom'] + melb_df['Rooms']
melb_df['MeanRoomsArea'] = melb_df['BuildingArea'] / total_rooms
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75

In [63]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_are = melb_data['BuildingArea'] + melb_data['Landsize']
melb_df['AreaRatio'] = diff_area / sum_are
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,-0.231707
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,-0.327660
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,0.056338
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,0.145455
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,0.083969

## 3. Работа с датами в DataFrame

### Формат datetime - pandas.to_datetime().

In [64]:
display(melb_df['Date'])
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

### Выделение атрибутов datetime - date, y m d, time, h m s, dayofweek, day_name, dayforyear, quarter

In [65]:
years_old = melb_df['Date'].dt.year
print(years_old)
print("min: ", years_old.min())
print("max: ", years_old.max())
print("mode: ", years_old.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32
min:  2016
max:  2017
mode:  2017

In [66]:
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

MonthSale
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

### Работа с интервалами

In [67]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
delta_days

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

#### Рассмотрим другой пример. Давайте создадим признак возраста объекта недвижимости в годах на момент продажи. Для этого выделим из столбца с датой продажи год и вычтем из него год постройки здания. Результат оформим в виде столбца AgeBuilding:

In [68]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,...,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,...,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,...,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97

In [69]:
melb_df = melb_df.drop('YearBuilt', axis=1)

## 4. Создание и преобразование столбцов с помощью функций

In [70]:
melb_df['Address']

0            85 Turner St
1         25 Bloomburg St
2            5 Charles St
3        40 Federation La
4             55a Park St
               ...
13575        12 Strada Cr
13576       77 Merrett Dr
13577         83 Power St
13578        96 Verdon St
13579          6 Agnes St
Name: Address, Length: 13580, dtype: object

In [82]:
def get_street_type(address: str) -> str:
    exclude_list = ['N', 'S', 'W', 'E']
    abbr_dict = {'Avenue': 'Av', 'Ave': 'Av', 'Boulevard': 'Bvd', 'Parade': 'Pde', 'Highway': 'Hvy', 'Esplanade': 'Esp', 'Grand': 'Grn'}
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list[-2]
    if street_type in abbr_dict.keys():
        street_type = abbr_dict[street_type]
    return street_type

In [83]:
street_types = melb_df['Address'].apply(get_street_type)
print(street_types.nunique())

50

In [84]:
display(street_types.value_counts().tail(25))
display(street_types.value_counts().head(28))

Address
Mews        4
Righi       3
Crossway    3
Victoria    2
Crofts      2
Ridge       2
Athol       1
Hvy         1
Res         1
Glade       1
Nook        1
Cove        1
Qy          1
Grange      1
East        1
Loop        1
Terrace     1
Eyrie       1
Dell        1
Summit      1
Gra         1
Hts         1
Outlook     1
Woodland    1
Corso       1
Name: count, dtype: int64

Address
St          8012
Rd          2825
Ct           612
Dr           447
Av           362
Gr           311
Pde          226
Pl           169
Cr           152
Cl           100
La            67
Bvd           66
Tce           47
Wy            40
Cct           25
Hwy           24
Sq            11
Crescent       9
Esp            8
Cir            7
Strand         7
Grove          5
Grn            5
Fairway        4
Gdns           4
Mews           4
Righi          3
Crossway       3
Name: count, dtype: int64

In [85]:
popular_stypes = street_types.value_counts().nlargest(10).index
popular_stypes

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

In [86]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
melb_df['StreetType'].nunique()

11

In [87]:
melb_df = melb_df.drop('Address', axis=1)
melb_df

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,AreaRatio,MonthSale,AgeBuilding,StreetType
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,2,...,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46,St
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,2,...,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116,St
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,3,...,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117,St
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,3,...,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47,other
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,3,...,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2,St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,4,...,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,Cr
13576,Williamstown,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,3,...,NaN,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,Dr
13577,Williamstown,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,3,...,NaN,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,St
13578,Williamstown,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,4,...,NaN,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,St
13579,Yarraville,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,4,...,NaN,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,St

## 5. Тип данных Category

### Признаки: категориальные и числовые
#### Категории в данных о недвижимости

In [89]:
unique_list = []
for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtype)
    unique_list.append(item)
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique', ignore_index=True)
print(unique_counts)

      Column_Name  Num_Unique            Type
0            Type           3          object
1          Method           5          object
2      Regionname           8          object
3           Rooms           9           int64
4        Bathroom           9           int64
5             Car          11           int64
6      StreetType          11          object
7         Bedroom          12           int64
8       MonthSale          12           int32
9     CouncilArea          33          object
10           Date          58  datetime64[ns]
11    AgeBuilding         152           int64
12       Postcode         198           int64
13       Distance         202         float64
14        SellerG         268          object
15  Propertycount         311           int64
16         Suburb         314          object
17   BuildingArea         602         float64
18  MeanRoomsArea        1277         float64
19       Landsize        1448         float64
20          Price        2204         float64
21      Lattitude        6503         float64
22      AreaRatio        6521         float64
23     Longtitude        7063         float64

### Тип данных category

In [90]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  object
 3   Price          13580 non-null  float64
 4   Method         13580 non-null  object
 5   SellerG        13580 non-null  object
 6   Date           13580 non-null  datetime64[ns]
 7   Distance       13580 non-null  float64
 8   Postcode       13580 non-null  int64
 9   Bedroom        13580 non-null  int64
 10  Bathroom       13580 non-null  int64
 11  Car            13580 non-null  int64
 12  Landsize       13580 non-null  float64
 13  BuildingArea   13580 non-null  float64
 14  CouncilArea    12211 non-null  object
 15  Lattitude      13580 non-null  float64
 16  Longtitude     13580 non-null  float64
 17  Regionname     13580 non-null  object
 18  Propertycount  13580 non-null  int64
 19  MeanRoomsArea  13580 non-null  float64
 20  AreaRatio      13580 non-null  float64
 21  MonthSale      13580 non-null  int32
 22  AgeBuilding    13580 non-null  int64
 23  StreetType     13580 non-null  object
dtypes: datetime64[ns](1), float64(8), int32(1), int64(7), object(7)
memory usage: 2.4+ MB

None

In [91]:
cols_to_exclude = ['Date', 'Rooms', 'Bathroom', 'Car', 'Bedroom']
max_unique_counts = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_unique_counts and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Rooms          13580 non-null  int64
 2   Type           13580 non-null  category
 3   Price          13580 non-null  float64
 4   Method         13580 non-null  category
 5   SellerG        13580 non-null  object
 6   Date           13580 non-null  datetime64[ns]
 7   Distance       13580 non-null  float64
 8   Postcode       13580 non-null  int64
 9   Bedroom        13580 non-null  int64
 10  Bathroom       13580 non-null  int64
 11  Car            13580 non-null  int64
 12  Landsize       13580 non-null  float64
 13  BuildingArea   13580 non-null  float64
 14  CouncilArea    12211 non-null  category
 15  Lattitude      13580 non-null  float64
 16  Longtitude     13580 non-null  float64
 17  Regionname     13580 non-null  category
 18  Propertycount  13580 non-null  int64
 19  MeanRoomsArea  13580 non-null  float64
 20  AreaRatio      13580 non-null  float64
 21  MonthSale      13580 non-null  category
 22  AgeBuilding    13580 non-null  int64
 23  StreetType     13580 non-null  category
dtypes: category(6), datetime64[ns](1), float64(8), int64(7), object(2)
memory usage: 1.9+ MB

None

In [92]:
melb_df['Regionname'].cat.categories

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [93]:
melb_df['Regionname'].cat.codes

0        2
1        2
2        2
3        2
4        2
        ..
13575    4
13576    6
13577    6
13578    6
13579    6
Length: 13580, dtype: int8

In [97]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    'h': 'house',
    't': 'townhouse'
})
melb_df['Type']

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']