In [2]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_fe.csv')
melb_df = melb_data.copy()
melb_df

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.99440,Northern Metropolitan,4019,18.750000,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.99690,Northern Metropolitan,4019,15.750000,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.99410,Northern Metropolitan,4019,17.750000,0.083969,4,2,2,St,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,other,4,house,1245000.0,S,Barry,2017-08-26,16.7,3150,4,...,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,5,Cr,1
13576,Williamstown,3,house,1031000.0,SP,Williams,2017-08-26,6.8,3016,3,...,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,5,Dr,1
13577,Williamstown,3,house,1170000.0,S,Raine,2017-08-26,6.8,3016,3,...,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,5,St,1
13578,Williamstown,4,house,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,4,...,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,5,St,1
13579,Yarraville,4,house,1285000.0,SP,Village,2017-08-26,6.3,3013,4,...,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,5,St,1

In [3]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB

#### Задание 1.1 - Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

In [4]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(10), object(7)
memory usage: 2.7+ MB

In [12]:
display(melb_df['Date'].dt.quarter.value_counts().nlargest(2))

Date
3    4873
2    4359
Name: count, dtype: int64

#### Задание 1.2 - Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car. В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [ ]:
exclude_columns = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_uniq_vals = 150
for col in melb_df.columns:
    if col not in exclude_columns and melb_df[col].nunique() <= max_uniq_vals:
        melb_df[col] = melb_df[col].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

#### Задание 2.2 - Произведите сортировку столбца AreaRatio по возрастанию. При этом индексы полученной таблицы замените на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

In [21]:
melb_df.sort_values(by='AreaRatio', ignore_index=True).loc[1557, 'BuildingArea']

np.float64(126.0)

#### Задание 2.3 - Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат, а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? Ответ запишите в виде целого числа.

In [28]:
mask1 = melb_df['Type'] == 'townhouse'
mask2 = melb_df['Rooms'] > 2
melb_df[mask1 & mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True
).head(20)

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,other,3,townhouse,1900000.0,PI,other,2017-08-07,24.8,3156,3,...,145.29371,Eastern Metropolitan,10788,62.750000,-0.576550,8,47,0,Cr,0
1,Brighton,3,townhouse,3275000.0,SP,Marshall,2017-06-24,10.5,3186,3,...,144.99233,Southern Metropolitan,10579,46.451525,0.125054,6,47,5,St,1
2,Moonee Ponds,3,townhouse,1345000.0,SP,Barry,2016-05-22,6.9,3039,3,...,144.91260,Western Metropolitan,6232,35.875000,-0.038526,5,86,6,St,1
3,Ashburton,3,townhouse,2050000.0,S,Fletchers,2016-03-12,11.0,3147,3,...,145.07140,Southern Metropolitan,3052,35.000000,0.008000,3,2,5,St,1
4,Strathmore,3,townhouse,925000.0,S,other,2017-08-04,9.7,3041,3,...,144.92280,Western Metropolitan,3284,32.555556,-0.308962,8,47,4,St,0
5,Toorak,3,townhouse,2650000.0,VB,Jellis,2016-10-09,4.6,3142,3,...,145.01710,Southern Metropolitan,7217,32.333333,1.000000,10,16,6,Rd,1
6,Doncaster East,3,townhouse,1120000.0,PI,Barry,2017-07-29,14.3,3109,3,...,145.17126,Eastern Metropolitan,10999,31.625000,0.000000,7,47,5,other,1
7,Hadfield,3,townhouse,750000.0,S,Stockdale,2016-12-06,12.1,3046,3,...,144.94750,Northern Metropolitan,2606,31.375000,-0.090580,12,5,1,St,0
8,Bentleigh East,3,townhouse,1280000.0,SP,Buxton,2017-08-19,13.8,3165,3,...,145.08160,Southern Metropolitan,10969,29.875000,-0.167247,8,4,5,St,1
9,other,3,townhouse,1627000.0,S,hockingstuart,2017-08-07,21.5,3195,3,...,145.08478,South-Eastern Metropolitan,3650,29.125000,-0.132216,8,10,0,St,0
10,Bulleen,3,townhouse,975000.0,PI,Fletchers,2016-04-06,11.8,3105,3,...,145.10200,Eastern Metropolitan,4480,28.250000,-0.473193,4,3,2,St,0
11,Bentleigh East,3,townhouse,830000.0,PI,Buxton,2016-04-06,13.9,3165,0,...,145.06900,Southern Metropolitan,10969,28.200000,-0.348730,4,4,2,St,0
12,Airport West,3,townhouse,840000.0,PI,Nelson,2016-03-09,13.5,3042,3,...,144.87800,Western Metropolitan,3464,28.125000,-0.147727,3,0,2,Rd,0
13,Brighton,3,townhouse,1725000.0,PI,Buxton,2017-04-03,11.2,3186,3,...,145.00350,Southern Metropolitan,10579,28.125000,-0.292453,4,20,0,St,0
14,Essendon,3,townhouse,1000000.0,VB,Brad,2016-05-14,8.0,3040,3,...,144.89270,Western Metropolitan,9264,28.000000,-0.130097,5,3,5,St,1
15,Carnegie,3,townhouse,970000.0,PI,Marshall,2016-05-14,11.4,3163,3,...,145.05460,Southern Metropolitan,7822,27.875000,-0.186131,5,11,5,Rd,1
16,other,3,townhouse,970000.0,PI,Barry,2016-09-24,9.8,3040,3,...,144.89010,Western Metropolitan,588,27.875000,-0.229706,9,5,5,Rd,1
17,Camberwell,3,townhouse,1320000.0,PI,other,2017-01-07,7.7,3124,3,...,145.05863,Southern Metropolitan,8920,27.875000,-0.008889,1,11,5,Rd,1
18,Brighton East,3,townhouse,1300000.0,PI,Buxton,2016-09-17,10.7,3187,3,...,145.02050,Southern Metropolitan,6938,27.750000,-0.205725,9,16,5,St,1
19,Toorak,3,townhouse,2700000.0,VB,Kay,2016-12-06,4.6,3142,3,...,145.02920,Southern Metropolitan,7217,27.500000,-0.143969,12,6,1,St,0

#### Задание 3.1 - Сгруппируйте данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе. В качестве ответа запишите количество комнат, для которых средняя цена наибольшая.

In [31]:
melb_df.groupby(by='Rooms')['Price'].mean().sort_values(ascending=False)

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

#### Задание 3.2 - Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)?

In [33]:
melb_df.groupby(by='Regionname')['Lattitude'].std().sort_values()

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_139888\2114338460.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df.groupby(by='Regionname')['Lattitude'].std().sort_values()

Regionname
Western Victoria              0.011579
Southern Metropolitan         0.043080
Eastern Metropolitan          0.047890
Northern Metropolitan         0.049639
Western Metropolitan          0.051251
South-Eastern Metropolitan    0.073411
Northern Victoria             0.084455
Eastern Victoria              0.147067
Name: Lattitude, dtype: float64

#### Задание 3.3 - Какая риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года?

In [36]:
mask1 = melb_df['Date'] >= pd.to_datetime('2017-05-1')
mask2 = melb_df['Date'] <= pd.to_datetime('2017-09-01')
melb_df[mask1 & mask2].groupby(by='SellerG')['Price'].sum().sort_values(ascending=False)

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_139888\169911651.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  melb_df[mask1 & mask2].groupby(by='SellerG')['Price'].sum().sort_values(ascending=False)

SellerG
Jellis           414121833.0
Nelson           379767500.0
other            365038432.0
Barry            296723050.0
hockingstuart    282834310.0
Marshall         253957888.0
Ray              249572986.0
Buxton           219104000.0
Biggin           110429500.0
Fletchers        108847700.0
Noel              88129800.0
Woodards          85977500.0
Greg              85621000.0
McGrath           78386500.0
Harcourts         68720250.0
Jas               59281600.0
Brad              55955000.0
RT                50498000.0
Kay               48569500.0
Miles             47582000.0
YPA               46354350.0
Hodges            43231000.0
Gary              39138400.0
Sweeney           36882750.0
Stockdale         35409800.0
Raine             30687700.0
RW                29261000.0
Village           26473000.0
HAR               25568000.0
O'Brien           23855508.0
Purplebricks      23401000.0
Love              23365500.0
Williams          23297000.0
Chisholm          23225000.0
Philip            22051800.0
Collins           20217000.0
Eview             19791500.0
C21               19515000.0
Buckingham        19033000.0
Douglas           18341000.0
Nick              16890000.0
Rendina           15422276.0
McDonald          14637500.0
Alexkarbon        10985000.0
Bells              8656000.0
Thomson            8332000.0
Moonee             7328000.0
Burnham            4550500.0
Cayzer             4439000.0
LITTLE             2742000.0
Name: Price, dtype: float64